{% extends 'navigationbar.html' %}
{% load static %}

{% block body %}
<div class="container" style="margin-top:50px;">
    <body>
        <form method="post" action="">
            {% csrf_token %}
            <div class="alert alert-warning" role="alert">
                Are you sure you want to delete "{{ doctor }}" ?
            </div>
            <button type="submit" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-success" id="cancelButton">Cancel</button>
        </form>
    </body>
</div>

<script>
    document.getElementById('cancelButton').onclick = function() {
        window.location.href = "{% url 'view_doctor' %}";
    };
</script>

{% endblock %}


